* {
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 32rem;
    width: 20rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 5px 5px #000;
}

.textos {
    display: flex;
    flex-direction: column;
    color: #000;
    width: 100%;
    text-align: center;
}

.nome {
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--roxo);
    padding: 0 2.5rem;

}

.descricao {
    font-size: 0.75rem;
    font-weight: 500;
    color: #000;
    text-align: center;
    padding: 0 3rem;
    margin-bottom: 1rem;

}

.icon {
    height: 24px;
    width: auto;
}

.classes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    margin-bottom: 2rem;
}

.textos {
    font-size: 1rem;
}

.info span {
    color:#8035bb;
}

.imgCard {
    height: auto;
    width: 100%;
    object-fit: cover; 
    border: none;
    border-radius:  10px 10px 0px 0px;
}

.container {
    width: 100%;
    max-width: 400px;
}

.dificuldadeImg {
    height: auto;
    max-width: 100px;
}

.dificuldadeTexto {
    font-size: 0.75rem;
    font-weight: 400;
    color: #000;
    text-align: center;
    /* padding: 0 3rem; */
    /* margin-bottom: 1rem; */
}