.button {
  background-color: var(--preto-dois);
  border: 0 solid #e5e7eb;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-family: var(--space-mono);
  font-size: 3rem;
  font-weight: lighter;
  justify-content: center;
  line-height: 1.75rem;
  padding: 1.8rem 5rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.3s ease-in-out; /* Adiciona transição para todas as propriedades */
}

.button:after {
  content: "";
  position: absolute;
  border: 1.9px solid #fff;
  bottom: -10px;
  border-radius: 6px;
  width: calc(100% + 20px);
  height: calc(100% + 17px);
  transition: all 0.3s ease-in-out;
}

.button:hover,
.button:focus {
  background-color: var(--roxo);
  color: #fff;
}

@media (max-width: 768px) {
  .button {
    background-color: var(--roxo);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 6rem;
  }
  
}
