.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: var(--space-mono);
}

.gameLogo {
  position: relative;
  font-size: 2rem;
  color: #329d6f;
}

.text {
  color: var(--roxo);
}


.gameLogo span.second {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #242424;
  border-left: 2px solid var(--roxo);
  animation: animate 2s steps(12) infinite;

}

@keyframes animate {
  40%, 60% {
    left: 100%;

  }100%{
    left: 0;
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.titulo {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

.subtitulo {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: start;
}

.conteudo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.botao {
  margin-top: 4rem;
}

.verde {
  color: #329d6f;
}

.roxo {
  color: var(--roxo);
}



@media screen and (max-width: 768px) {
  .heroImage {
    display: none;
  }

  .titulo {
    font-size: 2rem;
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
    height: 65vh;
  }

  .subtituloContainer {
    margin: 1rem 0rem;
  }

  .second {
    display: none;
  }
}
